<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="rorpaca" class="com.github.scribejava.apis.service.rorPaca">
        <property name="key" value="the_key_for_ror_paca" />
        <property name="secret" value="the_secret_for_ror_paca" />
    </bean>

</beans>